.logo-icon {
  height: 2rem;
  width: 2rem;
}

.flag-title {
  width: 28px;
  height: 21px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .logo-icon {
    height: 3.5rem;
    width: 3.5rem;
  }

  .flag-title {
    width: 48px;
    height: 36px;
  }
}
