<div class="flex flex-column min-h-screen">
    <!-- Header -->
    <header class="sticky top-0 z-5">
        <app-header></app-header>
    </header>

    <!-- Main -->
    <main class="flex-auto">
        <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer>
        <app-footer></app-footer>
    </footer>

    <!-- Scroll to top button -->
    <p-scrolltop [threshold]="100" icon="pi pi-arrow-up" [buttonProps]="{ severity: 'help', raised: true, rounded: true }" class="fixed hidden md:block" />
</div>