// Product title line clamp (3 lines max) - no PrimeFlex equivalent
.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// List card - responsive image and title
.list-card-image {
  width: 6rem;
  height: 6rem;
}

.list-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Dialog product image - compact on mobile
.dialog-product-image {
  max-width: 100%;
  max-height: 10rem;
  object-fit: contain;
}

@media (min-width: 768px) {
  .list-card-image {
    width: 18rem;
    height: 14rem;
  }

  .list-card-title {
    -webkit-line-clamp: unset;
    overflow: visible;
  }

  .dialog-product-image {
    max-height: 18rem;
  }
}
